
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    
        <a href="https://www.loscanis.com.tr/wp-content/uploads/giris-basarili.png " class=" btn btn-lg alert-primary btn-block">Giriş yapınız</a>
   

</body>
</html>

